
flim_tools/flim_tools/io/__pycache__/*
flim_tools/flim_tools/metrics/__pycache__/*
flim_tools/flim_tools_econtreras.egg-info/*
flim_tools/flim_tools/image_processing/__pycache__/*
flim_tools/flim_tools/__pycache__/*
flim_tools/flim_tools/image_processing/rgb2gray/.idea/*
flim_tools/flim_tools/general_functions/__pycache__/*
flim_tools/flim_tools/image_processing/rgb2gray/__pycache__/*
*.pyc
flim_tools/image_processing/__pycache__/*
flim_tools/image_processing/rgb2gray/__pycache__/rgb2gray.cpython-38.pyc
flim_tools_econtreras.egg-info/*
flim_tools/image_processing/rgb2gray/.idea/*
flim_tools/visualization/__pycache__/*
flim_tools/general_functions/__pycache__/*

.vscode/settings.json
.vscode/settings.json
*.pyc
*.pyc
flim_tools/io/__pycache__/*
flim_tools/metrics/__pycache__/*
